.DS_Store
.idea/

backend/storage/app.db
backend/storage/media/*
!backend/storage/media/.gitkeep

frontend/node_modules/
frontend/.next/

*.log
# mac
**/.DS_Store

# local cookies
cookies.txt

# sqlite runtime + local db
backend/storage/*.db
backend/storage/*.db-*
